.header-image{
    margin-left: 5%;
    margin-right: 20%;
}

.nav-links {
    width: 90%;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}

.nav-style {
    color: #CACACA;
    text-underline: transparent;
    text-decoration: none;
    font-family: Monserrat, sans-serif;
    padding-bottom: 1%;
}

.nav-style:hover {
    color: #F2BF00;
    text-underline: transparent;
    text-decoration: none;
    font-family: Monserrat, sans-serif;
}

.nav-style-2 {
    color: #CACACA;
    text-underline: transparent;
    text-decoration: none;
    font-family: Monserrat, sans-serif;
    padding-bottom: 1%;
}
